/* CSS Document */
@import url('https://fonts.googleapis.com/css2? family = Noto + Sans: ital, wght @ 0,400; 1,400; 1,700 & display = swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Anton', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}
.container{
	width: 1044px;
	margin: 0 auto;
}
.topbar{
	width: 100%;
	height: 20px;
	background: #73F3BB;
}
.header-main{
	width: 100%;
	height: 120px;
/*	background: #612A45;*/
}
.logo{
	width: 25%;
	height: 120px;
/*	background: #14DAE7;*/
	float:left;
}
.logo img{
	width: 100px;
	margin: 30px;
	margin: left;
}
.nav{
	width: 70%;
	height: 120px;
/*	background: #951FD5;*/
	float: left;
}
.nav img{
	width: 100%;
	height: 100%;
	margin-bottom: auto;
}
.header-bottom{
	width: 100%;
    height: 50px;
/*	background:hsla(30,100%,57%,0.73);*/
	text-align: center;
	border: 3px solid black;
    float: right;
}
.header-nav{
	width: 10%;
	height: 300px;
	background: #F3F4F6;
	margin-left: 70px;
	margin-top: 5px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}
.header-nav ul{
	list-style: decimal;
}
.header-nav li{
	margin-top: 15px;
}
.header-nox{
	width: 900px;
	height: 700px;
	background: #F3F4F6;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
	
}
.header-nav li a{
	color: black;
}

.box-1{
	width: 180px;
	height: 300px;
	background: white;
	float: left;
	margin-top: 6px;
	margin-right: 100px;
	margin-left: 100px;
}
.feature-image img{
	width: 100%;
	height: 230px;
}
.footer{
	padding: 0 24px;
	box-sizing: border-box;
}
.infor p{
	font-size: 14px;
	margin: 0 16px;
}
.price{
	font-size: 500;
	margin-right: 40px;
}
.box-2{
	width: 180px;
	height: 300px;
	background:white;
	float: left;
	margin-top: 6px;
	margin-right: 100px;
}
.box-3{
	width: 180px;
	height: 300px;
	background:  white;
	float: left;
	margin-top: 6px;
	margin-right: 50px;
}
.box-4{
	width: 180px;
	height: 300px;
	background:  white;
	float: left;
	margin-top: 16px;
	margin-right: 100px;
	margin-left: 100px;
}
.box-5{
	width: 180px;
	height: 300px;
	background:  white;
	float: left;
	margin-top: 16px;
	margin-right: 100px;
}
.box-6{
	width: 180px;
	height: 300px;
	background: white;
	float: left;
	margin-top: 16px;
	margin-right: 15px;
	
}
.main-box{
	width: 100%;
	height: 100px;
	margin-top: 800px;
	background: hsla(162,70%,26%,1.00);
	font-size: 10px;
	flex-flow: 10px
	
	
}
.main-box h4{
	float: right;
	float: none
	
}


















